.display-4{
    font-family: lobster;
}
.jumbotron{
    background-color: darkgoldenrod;
}
body{
    background-image: url("image/lessoo.png");
   
}
.btn btn-secondary btn-lg{
    margin: 10px 0;
    padding: 10px;
    font-size: 15px;
}
.custom-control custom-radio{
    padding: 5px;
}
img{
    width: auto;
    height: 150px;
    float: right;
}
